
@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}

@keyframes fadeinout {
  50% { opacity: 1; }
}
@keyframes fadein {
    from { opacity: 0 }
    to { opacity: 1 }
}
@keyframes fadeout {
    from { opacity: 1 }
    to { opacity: 0 }
}
.page_wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    background: grey;
    opacity: 0.1;
    animation: fadeout 0.5s linear forwards; 
}
.spinner_wrap{
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 300px;
    height: 300px;
    box-shadow: 0, 0, 0, 0.1px;
    animation: fadeout 0.5s linear forwards; 
}
.spinner_wrap .spinner{
    height: 60px;
    width: 60px;
}
@keyframes spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .spinner {

    animation: spinner-spin infinite 2s linear;
  }
}
