/* *{
    background: blue;
} */



body{
    background: #001970;
}
.login_container{
    position: absolute;
    width: 100%;
    height: 99%;
    background: #001970 !important;
    overflow: hidden;
    /* background: #413efa !important; */
}
.moon{
    position: absolute;
    top: 30px;
    right: 80px;
}
.moon path{
     box-shadow: 100px 100px 40px 20px #0ff;
}
.hillbackrear{
    position: absolute;
    left: 18%;
    top: calc(100% - 450px);
}
.hillbackmid{
    position: absolute;
    left: 12%;
    top: calc(100% - 410px);
}
.hillbackfront{
    position: absolute;
    left: 22%;
    top: calc(100% - 360px); 
}
.treesback{
    position: absolute;
    top: calc(100% - 300px);
    left: -20%;
}
.lake{
    position: absolute;
    top: calc(100% - 300px);
    left: 0%;
    overflow: hidden;
}
.trees_reflection{
    position: absolute;
    top: calc(100% - 330px);
    left: 0%;   
    height: 200px;
    width: 100%;
    background: black;
    object-fit: cover;
    
}
.hillmidrear{
    position: absolute;
    right: 0%;
    top: calc(100% - 400px);
}
.hillmidfront{
    position: absolute;
    right: 3%;
    top: calc(100% - 360px);
}
.hillfrontrear{
    position: absolute;
    left: 8%;
    top: calc(100% - 330px);
}
.hillfrontfront{
    position: absolute;
    left: -10%;
    top: calc(100% - 400px);
}
.treesfront{
    position: absolute;
    right: -2%;
    top: calc(100% - 250px);
}
.cloudrear{
    position: absolute;
    left: 38%;
    top: 33%;
}
.cloudmid{
    position: absolute;
    left: 55%;
    top: 20%;
}
.cloudfront{
    position: absolute;
    left: 8%;
    top: 12%;
}
.form_container{
    display: flex;
    align-content: center;
    width: 400px;
    /* height: 300px; */
    position: absolute;
    top: calc(100% - 400px);
    left: calc(50% - 200px);;
    border-radius: 50px;
    background: #413efa;

}
.form_container .form_innercontainer{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    /* padding: 0 0 0 23%; */
    /* align-items: center; */
    justify-items: center;
    /* justify-content: space-evenly; */
    /* position: absolute; */
    /* top: 20px; */
    /* left: 94.5px;    */
    transition: all 0.3s ease;
}



.form_container .input_wrapper{
    /* flex: 10; */
    /* top: 20px; */
    left: 38.5px;
    background: #413efa;
    margin: 10px 0 10px 25%;
    padding: 10px 25px 10px 25px;
    width: 133px;
    height: 20px;
    border-radius: 20px;
    border: 2px rgba(11, 145, 255, 0.637) solid;
    justify-self: center;
}
.form_container .input_wrapper input{
    height: 12px;
    background: #413efa;
    color: #ffffff;
    margin: 0 0 0 -15px;
    border: none;
    padding: 0;
    text-justify: center;
}
.form_container .input_wrapper input:focus{
    outline: none;
}

.form_container .button_wrapper{
    top: 20px;
    left: 38.5px;
    background: #413efa;
    margin: 10px 0 10px 25%;
    padding: 10px 25px 10px 25px;
    width: 133px;
    height: 20px;
    border-radius: 20px;
    border: 2px rgb(131, 199, 255) solid;
    text-align: center;
}
.form_container .button_wrapper button{
    height: 12px;
    background: #413efa;
    color: #ffffff;
    margin: 0 0 0 -15px;
    border: none;
    padding: 0;
}

.router_wrapper{
    background: #413efa;
    color: #ffffff;
    top: 20px;
    margin: 20px;
    height: 20px;
    width: 350px;
    outline: none;
    border: none;
    padding: 10;
}
.router_wrapper:hover{
    cursor: pointer;
}

.sky_bg{
    position: absolute;
    width: 1008px;
    height: 596px;
    background: #001970;
}




